/* --------------------------------

Primary style

-------------------------------- */
* {
    margin: 0;
    padding: 0;
}
html * {
  -moz-osx-font-smoothing: grayscale;
}

.cd-container *, .cd-container *:after, .cd-container *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-size: 100%;
  color: #7f8c97;
  /* 钉钉自带微应用字体样式 */
    font-family: "Microsoft Yahei", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    font-size: 100%;
    width: 100%;
    height: auto;
    background-color: rgba(245, 245, 245, .7);
}



img {
  max-width: 100%;
}
/* single form */

form {
    width: 100%;
    height: auto;
}

/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* --------------------------------

Main components

-------------------------------- */

#cd-timeline {
  position: relative;
  padding: 2em 0 4em 0;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 2px;
  background: #e6e6e6;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img img {
  display: block;
    width: 40px;
    height: 40px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -20px;
    border-radius: 50%;
}
.cd-timeline-img.cd-picture {
  background: #79abd2;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: rgba(232, 232, 232, 0.50);
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #e8e8e8;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: #303e49;
  display: inline-block;
}
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 0.8125rem;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 10px 0 0 0;
  line-height: 1.6;
}
.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}
a.cd-read-more:hover{text-decoration:none; background-color: #424242;  }
.cd-timeline-content .cd-date {
  padding: .5em 0;
  opacity: .7;
}
.cd-timeline-content .cd-timeline-name{
  display: -webkit-box;
  -webkit-box-pack: justify;
  box-pack: justify;
}
.cd-timeline-content .approval-comment{
  overflow-wrap: break-word;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid rgba(232, 232, 232, 0.50);
}
@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .cd-timeline-content .cd-read-more {
    float: left;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}

.td-approval-table{
	margin-left:20px;
	color: #000;
	font-size: .9em;
}

.td-approval-table .table-left{
	text-align: justify;
    text-align-last: justify;
	color: #888;
	min-width: 75px;
}
.td-approval-table .fa-car{
	color:rgba(80, 175, 250, 1);

}

.td-approval-table-div{
	width:100%;
	background-color:#fff;
	padding: 4px 0;
	border-top: 1px solid rgb(216, 216, 216);
	border-bottom: 1px solid rgb(216, 216, 216);
}

.td-approval-button-div{
    position: fixed;
    bottom: 0;
    margin: 0;
  	z-index:9;
  	width: calc( 100% - 1em);
    height: auto;
    padding: .5em .5em;
    display: flex;
    background-color: white;
    align-items: center;
}
.td-button {
    width: calc( 100% - 2em);
    height: 2.5em;
    color: rgba(80, 175, 250, 1);
    line-height: 2.5em;
    text-align: center;
    -webkit-user-select: none;
    margin: 0 auto;
}
.td-button#td-disagree-submit{
    color: red;
}
/*td-apply name and picture*/
.td-approval-apply{
	height: 80px;
    margin: 1em;
}
.td-apply-pic{
	position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
	background: #79abd2;
}
.td-approval-apply>div{
	display:inline-block;
}
.td-approval-apply #name{
	font-size:2em;
}
.td-apply-name{
	margin-left: 100px;
    height: 80px;
    line-height: 40px;
}
.td-apply-pic img {
    display: block;
    width: 80px;
    height: 80px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    border-radius: 50%;
}
.approval-sequence,
.approval-userid{
	display:none;
}
/*td-apply name and picture end*/

.td-mask{
	position: absolute;
	top: 0px;
	filter: alpha(opacity=60);
	background-color: #777;
	z-index: 10;
	left: 0px;
	opacity:0.5;
	-moz-opacity:0.5;
}
.td-mask img{
	display:none;
	position: fixed;
    bottom: 50%;
    left: 50%;
    margin-left: -61px;
    margin-bottom: -11px;
}
.td-return-div{
	display: none;
}
