/* --------------------------------

Primary style

-------------------------------- */
* {
    margin: 0;
    padding: 0;
}
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cd-container *, .cd-container *:after, .cd-container *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-size: 100%;
  color: #7f8c97;
  /* 钉钉自带微应用字体样式 */
    font-family: "Microsoft Yahei", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    font-size: 100%;
    width: 100%;
    height: auto;
    background-color: rgba(245, 245, 245, .7);
}



img {
  max-width: 100%;
}
/* single form */

form {
    width: 100%;
    height: auto;
}


/* td-form-field style, namespace: td-* */

div.td-form-field {
    width: calc( 100% - 1em);
    height: auto;
    margin: .5em 0;
    padding: .5em .5em;
    border-top: 1px solid rgba(100, 100, 100, .5);
    border-bottom: 1px solid rgba(100, 100, 100, .5);
    display: flex;
    background-color: white;
    /*justify-content: center;*/
    align-items: center;
}


/* label style */

div.td-form-field label {
    display: inline-block;
    width: 5em;
    margin: 0 .5em
}


/* input style */

div.td-form-field input {
    border: none;
    box-shadow: none;
    outline: none;
    font-size: 1em;
    margin: 0 .5em;
    /* label: 6em, padding: 1em */
    width: calc( 100% - 8em);
}

/* td-form-button style (start) */

div.td-form-button {
    border: none;
    position: fixed;
    bottom: 0;
    margin: 0;
}

.td-button {
    width: calc( 100% - 2em);
    height: 2.5em;
    color: white;
    background-color: rgba(80, 175, 250, 1);
    border-radius: 3px;
    line-height: 2.5em;
    text-align: center;
    -webkit-user-select: none;
    margin: 0 auto;
}

.td-button:active {
    background-color: rgba(80, 175, 250, .8);
}


/* td-form-button style (end) */

.td-form-button{z-index:9}

/* td-form-img-picker (start) */
div.td-form-img-picker input[type="file"]{
  opacity: 0;
  position: absolute;
  left: 6.5em;
  width: calc( 100% - 6.5em - .5em - 2em);
  height: 1em;
}
div.td-form-img-picker .td-form-img-picker-touch{
  display: inline-block;;
  height: 1em; width: calc( 100% - 6.5em - .5em - 2em);
}
div.td-form-img-picker .td-form-img-picker-touch:before {
    color: rgba(200, 200, 200, 1);
    position: absolute;
    right: 0;
    height: 1em;
    line-height: 1em;
    width: 3em;
    text-align: center;
}
/* td-form-img-picker (end) */
#td-form-field-preview{
	height: 0;
    margin: auto;
	display: block;
}

.td-form-img-picker{
	display:block !important;
}

#pullTOLoad{
	display:block;
	margin-bottom: 4em;
    position: relative;
	font-size:14px;
}

.td-mask{
	position: absolute;
	top: 0px;
	background-color: rgba(10, 0, 0, 0.498039);
	z-index: 10;
	left: 0px;
}
.td-mask i.fa{
	display:none;
	position: fixed;
  bottom: 50%;
  left: 50%;
  margin-left: -21px;
  margin-bottom: -21px;
  color: white;
}
