@charset "UTF-8";

html,
body {
  width: 100%; height: 100%;
  margin: 0; padding: 0;
  font-size: 100%;
}

header {
  width: 100%; height: calc( 64px + 1em );
  margin: 0 auto; padding: 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  border-bottom: 1px solid rgba(128, 128, 128, .5);
  z-index: 999;
  background-color: rgba(220, 220, 220, 0.9);
}
header .personnal-avatar {
  margin-right: 1em;
}
header .personnal-avatar img,
.car-img img {
  width: 64px; height: 64px;
  border-radius: 50%;
}
header .personal-overall-info {
  margin-left: 1em;
  color: gray;
  text-align: center;
}
header .personal-overall-info > * {
  margin: .5em 0;
}
header .personal-overall-info span{
  color: black;
  line-height: 1.5em
}
header .personal-overall-info .personal-info-name{
  margin-right: 1em;
}

main.reservation-info {
  padding-top: calc( 64px + 1em + 2em + 1px )
}
main.reservation-info ul {
  list-style: none;
  margin: 0; padding: 0;
}
main.reservation-info li {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: calc( 100% - 2em );
  margin: .5em auto;

  border-radius: 3px;
  border: 1px solid hsla(0, 0%, 59%, .9);
  box-shadow: 1px 0 5px hsla(0, 0%, 59%, .9);
}
main.reservation-info li .car-img {
  flex-direction: column;
  display: flex;
  align-items: center;
}
main.reservation-info li .reservation-info-detail p {
  font-size: .7em;
  margin: 0; padding: 0;
  line-height: 1.5em;
}
main.reservation-info li .reservation-info-detail label {
  display: inline-block;
  width: 5em;
}
ul.reservation-list div.pull-up-tip p{
  margin: 1em 0;
  text-align: center;
}
