@charset "UTF-8";

/* cover default style */
* {
    margin: 0;
    padding: 0;
}


/* global width height and font */
html, body {
    /* 钉钉自带微应用字体样式 */
    font-family: "Microsoft Yahei", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    font-size: 100%;
    width: 100%;
    height: auto;
    background-color: rgba(245, 245, 245, .7);
    -webkit-user-select: none;
}


/* single form */
form {
    width: 100%;
    height: auto;
}


/* td-form-field style, namespace: td-* */
div.td-form-field {
    width: calc( 100% - 1em);
    height: auto;
    margin: .5em 0;
    padding: .5em .5em;
    border-top: 1px solid rgba(100, 100, 100, .3);
    border-bottom: 1px solid rgba(100, 100, 100, .3);
    display: flex;
    background-color: white;
    /*justify-content: center;*/
    align-items: center;
}

div.td-form-field:nth-last-child(2){
  /*margin-bottom: calc( 3em + 1em );*/
}

/* label style (start) */
div.td-form-field label {
    display: inline-block;
    width: 5em;
    margin: 0 .5em
}
/* label style (end) */

/* input style (start) */
div.td-form-field input {
    border: none;
    box-shadow: none;
    outline: none;
    font-size: 1em;
    margin: 0 .5em;
    /* label: 6em, padding: 1em */
    width: calc( 100% - 8em);
}
/* input style (end) */

/* td-form-easy-picker style (start) */
div.td-form-field output.td-form-easy-picker-selected {
    border: none;
    box-shadow: none;
    outline: none;
    font-size: 1em;
    margin: 0 .5em;
    width: calc( 100% - 8em);
}
/* td-form-easy-picker style (end) */

/* td-form-datetime-picker (start) */
div.td-form-datetime-picker input[type="datetime-local"]{
    /* visibility: hidden; */
    position: absolute;
    left: 6.5em;
    opacity: 0;
    width: calc( 100% - 6.5em - .5em - 2em);
    height: 1em;
}
div.td-form-datetime-picker output {
  border: none;
  box-shadow: none;
  outline: none;
  font-size: 1em;
  margin: 0 .5em;
  width: calc( 100% - 8em);
  height: 1em;
}
/*div.td-form-datetime-picker .td-form-datetime-picker-panel{
  color: rgba(100, 100, 100, .7);
  font-size: 1.5em;
  display: block;
  position: fixed;;
  width: calc( 100% - 2em ); height: calc( 3em + 2em + 3em );
  margin: auto 1em; padding: 0;
  background-color: white;
  box-shadow: 1px 0px 5px #FFFFFF;
  border-radius: 2px;
  z-index: 100;
}
div.td-form-datetime-picker .td-form-datetime-picker-wheel {
    perspective: 2000px;
    perspective-origin: center;
    width: 5em;
}
div.td-form-datetime-picker .td-form-datetime-picker-wheel-prev {
    transform: rotateX(40deg);
}
div.td-form-datetime-picker .td-form-datetime-picker-wheel-curr {
    transform: rotateX(0deg);
    color: black;
}
div.td-form-datetime-picker .td-form-datetime-picker-wheel-next {
    transform: rotateX(-40deg);
}*/
/* td-form-datetime-picker (end) */

/* td-form-textarea (start) */
div.td-form-textarea textarea{
  border: none;
  box-shadow: none;
  outline: none;
  font-size: 1em;
  margin: 0 .5em;
  width: calc( 100% - 8em);
  height: 5em;
  resize: none;
  font-family: inherit;
}
/* td-form-textarea (end) */

/* td-form-comb-text style (start) */
div.td-form-comb-text div.td-form-comb-text-selected {
    margin: 0 .5em;
    width: calc( 100% - 8em);
}
div.td-form-comb-text ul.td-form-comb-text-list {
    display: none;
    padding: 0 .5em;
    width: calc( 100% - 5em);
    position: fixed;
    background-color: white;
    z-index: 100;
    top: 5em;
    left: 2em;
    max-height: calc( 100% - 10em);
    overflow-y: scroll;
    box-shadow: 1px 0px 5px #FFFFFF;
    border-radius: 2px;
}
div.td-form-comb-text li.td-form-comb-text-item {
    display: flex;
    padding: .5em 0;
    border-bottom: 1px solid rgba(200, 200, 200, .7);
    line-height: 64px;
    margin: 0 .5em;
}
div.td-form-comb-text li.td-form-comb-text-item:last-child {
    border-bottom: none;
}
/* td-form-comb-text style (start) */

/* td-form-comb-img-text style (start) */
div.td-form-comb-img-text div.td-form-comb-img-text-selected {
    margin: 0 .5em;
    width: calc( 100% - 8em);
}

div.td-form-comb-img-text ul.td-form-comb-img-text-list {
    display: none;
    padding: 0 .5em;
    width: calc( 100% - 5em);
    position: fixed;
    background-color: white;
    z-index: 100;
    top: 5em;
    left: 2em;
    max-height: calc( 100% - 10em);
    overflow-y: scroll;
    box-shadow: 1px 0px 5px #FFFFFF;
    border-radius: 2px;
}

div.td-form-comb-img-text li.td-form-comb-img-text-item,
div.td-form-comb-img-text div.td-form-comb-img-text-item {
    display: flex;
    padding: .5em 0;
}

div.td-form-comb-img-text li.td-form-comb-img-text-item {
    border-top: 1px solid rgba(200, 200, 200, .7);
}

div.td-form-comb-img-text li.td-form-comb-img-text-item:first-child {
    border-top: none;
}

div.td-form-comb-img-text .td-form-comb-img-text-item .td-form-comb-img-text-item-img {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin-right: .5em;
}

div.td-form-comb-img-text .td-form-comb-img-text-item .td-form-comb-img-text-item-img img {
    border-radius: 50%;
    width: 64px;
    height: 64px;
}

div.td-form-comb-img-text .td-form-comb-img-text-item .td-form-comb-img-text-item-text {
    display: inline-block;
    line-height: 64px;
    width: calc( 100% - 64px - 1em);
    margin: 0 .5em;
}

div.td-form-comb-img-text .td-form-comb-img-text-item .td-form-field-detail {
    line-height: 64px;
    font-size: 1em;
    color: rgba(200, 200, 200, 1);
    /* display: none; */
    position: absolute;
    right: 0em;
    width: 3em;
    text-align: center;
}

div.td-form-comb-img-text .td-form-comb-img-text-item .td-form-field-detail:active {
    color: rgba(0, 0, 0, 1);
    transition: color .3s;
}
/* td-form-comb-img-text style (end) */

/* td-form-comb-img-text-item-detial (start) */
.td-form-comb-img-text-item-detial{
  display: none;
  font-size: .75em;
}
.td-car-info {
    display: flex;
    justify-content: space-around;
}
.td-car-reservation-data{
  width: 5em;
}
/* td-form-comb-img-text-item-detial (end) */

/* td-form-img-picker (start) */
div.td-form-img-picker input[type="file"]{
  opacity: 0;
  position: absolute;
  left: 6.5em;
  width: calc( 100% - 6.5em - .5em - 2em);
  height: 1em;
}
div.td-form-img-picker .td-form-img-picker-touch{
  display: block;
  height: 1em; width: calc( 100% - 6.5em - .5em - 2em);
}
div.td-form-img-picker .td-form-img-picker-touch:before {
    color: rgba(200, 200, 200, 1);
    position: absolute;
    right: 0;
    height: 1em;
    line-height: 1em;
    width: 3em;
    text-align: center;
}
/* td-form-img-picker (end) */

/* td-form-approver-picker style (start) */
div.td-form-approver-picker {
    display: block;
}

div.td-form-approver-picker .td-form-approver-picker-item-avatar img {
    width: 64px;
    height: 64px;
    display: block;
    border-radius: 50%;
}

div.td-form-approver-picker li.td-form-approver-picker-item {
    display: inline-block;
    text-align: center;
    margin: .5em 1em .5em .5em;
}
div.td-form-approver-picker li.td-form-approver-picker-item .td-form-approver-picker-item-avatar{
  position: relative;
}
div.td-form-approver-picker .td-form-approver-picker-item-avatar:before {
  position: absolute;
  top: calc( 32px - .5em );
  left: calc( 64px + .5em );
  color: rgba(200, 200, 200, .7);
}

div.td-form-approver-picker div.td-form-approver-picker-add {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: .5em;
    width: 62px;
    height: 62px;
    border: 1px solid rgba(200,200,200,.7);
    border-radius: 50%;
    text-align: center;
}
div.td-form-approver-picker div.td-form-approver-picker-add .td-form-approver-picker-add-icon{
  line-height: 2em;
  color: rgba(200,200,200,.7);
  font-size: 2em;
}
/* td-form-approver-picker style (end) */

/* td-form-cc-picker style (start) */
div.td-form-cc-picker {
    display: block;
}

div.td-form-cc-picker .td-form-cc-picker-item-avatar img {
    width: 64px;
    height: 64px;
    display: block;
    border-radius: 50%;
}

div.td-form-cc-picker li.td-form-cc-picker-item {
    display: inline-block;
    text-align: center;
    margin: .5em 1em .5em .5em;
}
div.td-form-cc-picker li.td-form-cc-picker-item .td-form-cc-picker-item-avatar{
  position: relative;
}
div.td-form-cc-picker .td-form-cc-picker-item-avatar:before {
  position: absolute;
  top: calc( 32px - .5em );
  left: calc( 64px + .5em );
  color: rgba(200, 200, 200, .7);
}

div.td-form-cc-picker div.td-form-cc-picker-add {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: .5em;
    width: 62px;
    height: 62px;
    border: 1px solid rgba(200,200,200,.7);
    border-radius: 50%;
    text-align: center;
}
div.td-form-cc-picker div.td-form-cc-picker-add .td-form-cc-picker-add-icon{
  line-height: 2em;
  color: rgba(200,200,200,.7);
  font-size: 2em;
}
/* td-form-cc-picker style (end) */

/* td-form-button style (start) */
div.td-form-button {
    border: none;
    /*position: fixed;*/
    bottom: 0;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.8);
}

.td-button {
    width: calc( 100% - 2em);
    height: 2.5em;
    color: white;
    background-color: rgba(80, 175, 250, 1);
    border-radius: 3px;
    line-height: 2.5em;
    text-align: center;
    -webkit-user-select: none;
    margin: 0 auto;
}

.td-button:active {
    background-color: rgba(80, 175, 250, .8);
}
/* td-form-button style (end) */


/* mask (start) */
.transparent-mask {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
    background: rgba(0, 0, 0, .5);
}
/* mask (end) */

/* popup object style (start) */
.popup{
  display: block !important;
  transition: display .5s;
}
/* popup object style (end) */

#td-form-field-preview{
	height: 0;
    margin: auto;
}